<div class="container" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="registrationForm">
    <div>
        <div>
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${customerModel}" method="post" class="form-horizontal"
                  role="form">
                <h2>Customer Registration</h2>
                <br>
                <div class="form-group">
                    <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control"/><br>
                    <input type="text" th:field="*{userName}" placeholder="username" class="form-control"/><br>
                    <input type="password" th:field="*{password}" placeholder="password" class="form-control"/>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
                <h2><span class="text-success" th:utext="${message}"></span></h2>
            </form>
        </div>
    </div>
</div>