<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Alex's Online Shop - Checkout</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/checkout.js"></script>
</head>

<body>

<nav th:insert="fragments/header :: header"></nav>
<br>

<div class="container">
    <h2>Checkout</h2>
    <br id="insert">
    <table id="basketTable" class="table">
        <thead>
        <tr>
            <th scope="col">Product Title</th>
            <th scope="col">Product ID</th>
            <th scope="col">Product Size</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Product Price</th>
            <th scope="col">Remove Product</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="basket: ${basket}">
            <td th:text="${basket.productTitle}"></td>
            <th id="productId" scope="row" th:text="${basket.productId}" th:value="${basket.productIdentifier}"></th>
            <td th:text="${basket.productSize}"></td>
            <td th:text="${basket.productQuantity}"></td>
            <td>£<span th:text="${#numbers.formatDecimal(basket.productPrice, 2, 2)}"></span></td>
            <td><button th:data-id="${basket.productIdentifier}" th:onclick="removeProduct(this.getAttribute('data-id'))">Remove</button></td>
        </tr>
        <tr><th scope="col">Total Number of Items: <span th:text="${totalNumberOfItems}"></span></th></tr>
        <tr><th scope="col">Subtotal: £<span th:text="${#numbers.formatDecimal(subTotal, 2, 2)}"></span></th></tr>
        <tr><th scope="col">Delivery: £<span th:text="${#numbers.formatDecimal(deliveryCharge, 1, 2)}"></span></th></tr>
        <th scope="col">Grand Total: £<span th:text="${#numbers.formatDecimal(grandTotal, 2, 2)}"></span></th>
        </tbody>
    </table>
</div>

</body>
</html>