<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Alex's Online Shop - Products By Id</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/productById.js"></script>
</head>
<body>

<nav th:insert="fragments/header :: header"></nav>
<br>

<div class="container">
    <div class="row align-items-center">
        <div class="col" th:each="product: ${productFindById}">
            <a th:href="@{'/products/' + ${product.id}}"><h3 id="productTitle" th:text="${product.name}">Product Name</h3></a>
            <a th:href="@{'/products/' + ${product.id}}"><img height="300" length="600" th:src="@{'/products/images' + ${product.pictureUrl}}"/></a>
            <h4 th:text="${product.description}">Product Description</h4>
            <h3>£<span id="productPrice" th:text="${#numbers.formatDecimal(product.price, 2, 2)}">Product Price></span></h3>
            <br>
            <h5>Product ID: <span id="productId" th:text="${product.id}">Product ID</span></h5>
            <h5 id="message"></h5>
            <h5 sec:authorize="isAnonymous()">Log In To Add Products To The Basket</h5>
            <div sec:authorize="isAuthenticated()">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product Options
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" th:each="option: ${productByIdStock}" th:text="${option}" href="#">option</a>
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-success" onclick="submit(this)">Add To Checkout</button>
            <div class="w-100"></div>
        </div>
        </div>
    </div>
</div>

</body>
</html>