<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Alex's Online Shop - Products All</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<nav th:insert="fragments/fragments :: header"></nav>
<br>

<div class="container" th:fragment="productsAll">
    <h2>All Products</h2>
    <br>
    <div class="row align-items-center">
    <div class="col-sm-4" th:each="product: ${allProducts}">
        <a th:href="@{'/products/' + ${product.id}}"><h3 th:text="${product.name}">Product Name</h3></a>
        <a th:href="@{'/products/' + ${product.id}}"><img height="300" length="600" th:src="@{'/products/images/' + ${product.pictureUrl}}"/></a>
        <h4 th:text="${product.description}">Product Description</h4>
        <h3>£<span th:text="${#numbers.formatDecimal(product.price, 2, 2)}">Product Price></span></h3>
        <h5>Product ID: <span th:text="${product.id}">Product ID</span></h5>
        <br>
    </div>
</div>
</div>

</body>
</html>